<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/login.png" alt="Login" />
    <h2>Gabo's Web</h2>
    <h1>Reset Password</h1>
    <form [formGroup]="userRecovery" (ngSubmit)="recovery()">
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="name@example.com"
        />
        <label>Email</label>
        <span
          *ngIf="
            userRecovery.get('email')?.hasError('required') &&
            userRecovery.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          The <strong>Email</strong> is required
        </span>
        <span
          *ngIf="
            userRecovery.get('email')?.hasError('email') &&
            userRecovery.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          The <strong>Email</strong> is Invalid
        </span>
      </div>

      <div class="d-grid gap-2 mb-3">
        <button
          class="btn btn-secondary btn-lg"
          type="submit"
          [disabled]="userRecovery.invalid"
        >
          Recovery Password
        </button>
      </div>

      <a routerLink="/login">Back</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
