<div class="wrapper">
  <div *ngIf="!loading" class="body">
    <img class="logo" src="../../../assets/img/login3.png" alt="Login" />
    <h2>Gabo's Web</h2>
    <h1>Create Account</h1>
    <form (ngSubmit)="register()" [formGroup]="userRegister">
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Name"
        />
        <label>Name</label>
        <span
          *ngIf="
            userRegister.get('name')?.hasError('required') &&
            userRegister.get('name')?.touched
          "
          class="text-danger errorLabel"
        >
          The <strong>Name</strong> is required
        </span>

      </div>
      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="name@example.com"
        />
        <label>Email</label>
        <span
          *ngIf="
            userRegister.get('email')?.hasError('required') &&
            userRegister.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          The <strong>Email</strong> is required
        </span>
        <span
          *ngIf="
            userRegister.get('email')?.hasError('email') &&
            userRegister.get('email')?.touched
          "
          class="text-danger errorLabel"
        >
          The <strong>Email</strong> is Invalid
        </span>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
        />
        <label>Password</label>
        <span
          *ngIf="
            userRegister.get('password')?.hasError('required') &&
            userRegister.get('password')?.touched
          "
          class="text-danger errorLabel"
        >
          <strong>Password</strong> is required
        </span>
        <span
          *ngIf="
            userRegister.get('password')?.hasError('minlength') &&
            userRegister.get('password')?.touched
          "
          class="text-danger errorLabel"
        >
          <strong>Password</strong> must have minimum of 6 characters.
        </span>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          formControlName="repeatPassword"
          placeholder="Repeat Password"
        />
        <label>Repeat Password</label>
      </div>
      <div class="d-grid gap-2 mb-3">
        <button
          class="btn btn-secondary btn-lg"
          type="submit"
          [disabled]="userRegister.invalid"
        >
          Continue
        </button>
      </div>

      <a routerLink="/login">Back</a>
    </form>
  </div>
  <app-spinner *ngIf="loading"></app-spinner>
</div>
